.JCO1ui {
    border: 0;
    background: none;
    outline: none;
    padding: 4px;
    color: #08f
}

.-ngRc8,.JCO1ui {
    white-space: nowrap
}

.-ngRc8 {
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 4px 12px;
    height: 28px;
    min-width: 0;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.26);
    box-shadow: 0 1px 1px rgba(0,0,0,.03)
}

.-ngRc8:hover {
    background-color: rgba(0,0,0,.02)
}

.-ngRc8:active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.05)
}

.lQPEK6,.vNAC0j {
    align-items: center
}

.lQPEK6,.MPRaRR,.phl0s1,.QDEIR1 {
    display: flex
}

.vNAC0j {
    display: inline-flex
}

.MPRaRR {
    justify-content: flex-end
}

.phl0s1 {
    justify-content: space-between
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .lQPEK6,.vNAC0j {
        height: 1px
    }

    .lQPEK6:after,.vNAC0j:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.nL8Pxz {
    min-width: 0;
    width: 100%
}

.QDEIR1 {
    flex-grow: 1;
    overflow-x: hidden
}

.MPRaRR {
    flex-basis: 40px
}

.vNAC0j {
    font-weight: 500;
    min-width: 0
}

._4oCLBy {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.vg3e9N {
    border-radius: 1px;
    padding: 2px 4px;
    border: .5px solid
}

.MzzQoA {
    white-space: nowrap
}

._79Pezb {
    display: flex
}

.KDcxI9 {
    flex-wrap: wrap
}

._79Pezb {
    border-bottom: 1px solid rgba(0,0,0,.09);
    background: #fff
}

._79Pezb:last-child {
    border-bottom: 0
}

.VR0YlU {
    padding: 18px 0 20px
}

.-wWYCG {
    padding: 16px 0
}

._5iyJY7 {
    margin-bottom: 4px
}

.CYaaBD {
    margin-right: 8px
}

.luHECB {
    color: rgba(0,0,0,.87);
    font-size: 1rem;
    line-height: 1.5rem
}

.oZLC5C {
    color: rgba(0,0,0,.54)
}

._0DsUyZ,.oZLC5C {
    font-size: .875rem;
    line-height: 1.25rem
}

._0DsUyZ {
    color: rgba(0,0,0,.87);
    margin-bottom: 4px
}

.RQY2Ux {
    margin: 0 4px 4px 0
}

.RQY2Ux:last-child {
    margin-right: 0
}

.ar\+2Gw {
    color: #ee4d2d;
    border-color: #ee4d2d
}

.bbt-1Q {
    border-color: rgba(0,0,0,.54)
}

.bbt-1Q,.gSHonO {
    color: rgba(0,0,0,.54)
}

.gSHonO {
    font-size: .875rem;
    line-height: 1.25rem
}

.FR0iUj {
    border-left: .5px solid rgba(0,0,0,.26);
    margin: 0 8px
}

.KDcxI9 {
    margin-top: 4px
}

.Ux9--f {
    color: rgba(0,0,0,.26)
}

.uah5uD {
    background-color: #fff8e4;
    padding: 12px;
    border-radius: 2px;
    font-size: .875rem;
    line-height: 1.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 16px
}

.oMEsz4 {
    padding: 0 4px 0 0
}

.oMEsz4 .stardust-radio {
    padding: 0
}

.nC8H0V {
    padding-top: 4px
}

.am7s5y {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.haMWLx {
    background: #fff;
    height: auto;
    z-index: 10000;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    position: relative
}

.fzm23X {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.14)
}

.O3XIsD {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-shadow: 0 0 .625rem 0 rgba(0,0,0,.14);
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background: #5a5a5a;
    border: 3px solid #fff
}

.O3XIsD .f6I-EP {
    color: #fff;
    font-size: 1.125rem
}

.WDhQmt {
    padding: 20px
}

.jFHLpI {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    padding: 12px 14px;
    border-radius: 2px
}

.Wy1WHW {
    background-color: #fbfdff;
    border: 1px solid #cbe4f4
}

.Wy1WHW .Ks3mVw {
    color: #05a
}

.HHcX2E {
    flex-shrink: 0;
    background-color: #fffdf8;
    border: 1px solid rgba(255,174,4,.3)
}

.HHcX2E .Ks3mVw {
    color: #ffae04
}

.INSSYB {
    background-color: #fafdf7;
    border: 1px solid rgba(87,172,3,.3)
}

.INSSYB .Ks3mVw {
    color: #6c0;
    border-radius: 50%;
    border: 1px solid #6c0;
    padding: 2px;
    width: 10px;
    height: 10px
}

.a54WZL {
    background-color: #fff9f9;
    border: 1px solid rgba(255,66,79,.2)
}

.a54WZL .Ks3mVw {
    color: #ff424f
}

.Ks3mVw {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    stroke: currentColor
}

.fFaA-i,.gKdVDO {
    align-items: center;
    display: flex;
    flex-direction: row
}

.gKdVDO {
    justify-content: space-between
}

._1S8b8h,._9\+XZjN,._9RiIhC,.BNQDGT {
    line-height: 1.25rem
}

.fFaA-i {
    margin-bottom: 16px
}

.D\+sgsm {
    color: rgba(0,0,0,.65);
    width: 105px;
    margin-right: 12px
}

.gKdVDO {
    flex: 1;
    border: 1px solid rgba(0,0,0,.14);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 15px 10px 10px;
    line-height: 1.25rem;
    cursor: pointer
}

._9RiIhC,.BNQDGT {
    color: rgba(0,0,0,.65)
}

._1S8b8h {
    color: #bbb
}

.LIZKgK {
    width: 12px;
    height: 22px;
    color: rgba(0,0,0,.54);
    margin-left: 15px
}

.mTFPnQ {
    align-items: center
}

.V7Zivu {
    align-items: flex-start
}

.mTFPnQ,.V7Zivu {
    display: flex;
    flex-direction: row
}

.V7Zivu {
    margin-bottom: 12px
}

.mTFPnQ {
    color: rgba(0,0,0,.65);
    min-height: 40px;
    width: 105px;
    margin-right: 12px
}

._9mi\+yb._9mi\+yb {
    flex: 1;
    margin: 0
}

.fqKvTx {
    align-items: center
}

.fqKvTx,.yPBgpx {
    display: flex;
    flex-direction: row
}

.yPBgpx {
    justify-content: flex-end
}

.GJKmwB {
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    width: 500px
}

.ieNWiN {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left
}

.oaaTy9 {
    width: 21px;
    height: 18px;
    fill: rgba(0,0,0,.65);
    margin-right: 14px;
    cursor: pointer
}

.xFwTsT {
    font-size: 1.25rem;
    line-height: 2rem
}

.fqKvTx,.Nvorbv {
    margin-bottom: 16px
}

.ajKpDN {
    height: 40px
}

.ajKpDN:first-child {
    margin-right: 12px
}

.shopee-button-solid {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    position: relative;
    background: rgba(0,0,0,.54);
    color: #fff;
    transition: opacity .2s ease;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09)
}

.shopee-button-solid:active {
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05)
}

.shopee-button-solid--fill {
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0
}

.shopee-button-solid--complement {
    background: #00bfa5
}

.shopee-button-solid--complement:hover {
    background: #00a08a
}

.shopee-button-solid--secondary {
    background: #3b3f53
}

.shopee-button-solid--primary {
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d
}

.shopee-button-solid--primary.focus-visible:before,.shopee-button-solid--primary:focus-visible:before {
    content: "";
    width: calc(100% + var(--focus-indicator-spacing)*2);
    height: calc(100% + var(--focus-indicator-spacing)*2);
    padding: var(--focus-indicator-spacing);
    outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
    position: absolute;
    border-radius: var(--focus-indicator-border-radius);
    top: calc(var(--focus-indicator-spacing)*-1);
    left: calc(var(--focus-indicator-spacing)*-1);
    margin: calc(var(--focus-indicator-spacing)*-1)
}

.shopee-button-solid--primary:not(.shopee-button-solid--disabled):hover {
    background: #f05d40
}

.shopee-button-solid--primary:not(.shopee-button-solid--disabled):active {
    background: #e2492b;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05)
}

.shopee-button-solid--primary.shopee-button-solid--disabled {
    background: #facac0!important;
    cursor: not-allowed;
    box-shadow: none
}

.shopee-button-solid--tributton {
    padding: 10px 13px!important;
    flex: none!important;
    text-transform: uppercase!important;
    width: 102px;
    height: 36px;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d
}

.shopee-button-solid--tributton.focus-visible:before,.shopee-button-solid--tributton:focus-visible:before {
    content: "";
    width: calc(100% + var(--focus-indicator-spacing)*2);
    height: calc(100% + var(--focus-indicator-spacing)*2);
    padding: var(--focus-indicator-spacing);
    outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
    position: absolute;
    border-radius: var(--focus-indicator-border-radius);
    top: calc(var(--focus-indicator-spacing)*-1);
    left: calc(var(--focus-indicator-spacing)*-1);
    margin: calc(var(--focus-indicator-spacing)*-1)
}

.shopee-button-solid--tributton:not(.disabled):hover {
    background: #f05d40
}

.shopee-button-solid--tributton:not(.disabled):active {
    background: #e2492b;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05)
}

.shopee-button-solid--tributton.disabled {
    background: #facac0!important;
    cursor: not-allowed;
    box-shadow: none
}

.shopee-button-solid--email {
    background-color: #1d9db4
}

.shopee-button-solid--facebook {
    background-color: #31589c
}

.shopee-button-solid--sms {
    background-color: #13b50b
}

.shopee-button-solid--disabled {
    box-shadow: none;
    background-color: rgba(0,0,0,.26)
}

.shopee-button-solid--disabled:hover {
    background-color: rgba(0,0,0,.26);
    cursor: not-allowed
}

.shopee-button-outline {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8)
}

.shopee-button-outline--normal {
    background: #fff
}

.shopee-button-outline--normal:hover {
    background: #f3f3f3
}

.shopee-button-outline--disabled {
    color: rgba(0,0,0,.26);
    border-color: rgba(0,0,0,.09)
}

.shopee-button-outline--fill {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0
}

.shopee-button-outline--tributton {
    flex: none!important;
    padding: 10px 15px!important;
    text-transform: uppercase!important;
    width: 130px;
    height: 36px
}

.shopee-button-outline--tributton:hover {
    flex: none!important;
    padding: 10px 15px!important;
    color: #ee4d2d;
    border-color: #ee4d2d
}

.shopee-button-outline--primary-reverse,.shopee-button-outline--primary:hover {
    color: #ee4d2d;
    border-color: #ee4d2d
}

.shopee-button-outline--primary-reverse:hover {
    background: #ee4d2d;
    color: #fff
}

.shopee-button-outline--complement:hover {
    color: #00bfa5;
    border-color: #00bfa5
}

.shopee-button-outline--rounded {
    border-radius: 1.25rem
}

.shopee-button-outline--rounded:hover {
    color: #ee4d2d;
    border-color: #ee4d2d
}

.cancel-btn {
    padding: 10px 0;
    box-sizing: border-box;
    width: 140px;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 400;
    cursor: pointer;
    color: #555;
    margin-right: 6px;
    line-height: 1;
    background: none;
    border: 0;
    transition: background-color .1s cubic-bezier(.4,0,.6,1)
}

.cancel-btn:hover {
    background: #f8f8f8
}

.cancel-btn:active {
    background: #f5f5f5
}

.shopee-button-no-outline,.shopee-icon-button,.shopee-image-button {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1)
}

.shopee-button-no-outline {
    position: relative;
    overflow: visible;
    outline: 0;
    padding: .3125rem .4375rem;
    color: rgba(0,0,0,.8);
    background-color: initial;
    border: 0
}

.shopee-button-no-outline.focus-visible:before,.shopee-button-no-outline:focus-visible:before {
    --focus-indicator-spacing: 1px;
    content: "";
    width: calc(100% + var(--focus-indicator-spacing)*2);
    height: calc(100% + var(--focus-indicator-spacing)*2);
    padding: var(--focus-indicator-spacing);
    outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
    position: absolute;
    border-radius: var(--focus-indicator-border-radius);
    top: calc(var(--focus-indicator-spacing)*-1);
    left: calc(var(--focus-indicator-spacing)*-1);
    margin: calc(var(--focus-indicator-spacing)*-1)
}

.shopee-button-no-outline--primary,.shopee-button-no-outline:hover {
    color: #ee4d2d
}

.shopee-button-no-outline--complement {
    color: #00bfa5
}

.shopee-button-no-outline--disabled {
    color: rgba(0,0,0,.26);
    cursor: default
}

.shopee-button-no-outline--disabled:hover {
    color: rgba(0,0,0,.26)
}

.shopee-button-no-outline--tributton {
    color: rgba(0,0,0,.87);
    flex: none!important;
    padding: 10px 15px!important;
    text-transform: uppercase;
    height: 36px
}

.shopee-button-no-outline--tributton:hover {
    color: #ee4d2d
}

.shopee-icon-button {
    border: 1px solid rgba(0,0,0,.54);
    background-color: initial;
    padding: 0
}

.shopee-image-button {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
    position: relative
}

.shopee-image-button:hover .shopee-image-button__mask {
    background-color: rgba(0,0,0,.7)
}

.shopee-image-button__mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.4)
}

.shopee-image-button__text {
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 .625rem;
    width: 100%
}

.shopee-see-all-button>.shopee-button-no-outline {
    display: flex;
    align-items: center;
    color: #ee4d2d
}

.shopee-see-all-button>.shopee-button-no-outline>.icon-arrow-right {
    font-size: .625rem
}

.j2mVAv {
    position: absolute;
    top: 0;
    left: 0
}

._5IRW49 {
    width: 3.625rem
}

.RnOXTa {
    padding: 1.875rem 1.875rem 1.25rem;
    width: 34.375rem;
    position: relative;
    overflow: hidden;
    border-radius: .1875rem;
    background-color: #fff;
    box-shadow: 0 .1875rem .625rem 0 rgba(0,0,0,.14);
    display: flex;
    flex-direction: row
}

._4mHzw7 {
    margin-bottom: .5625rem;
    font-size: 1.375rem;
    font-weight: 600;
    color: #333
}

.Gs76pu {
    margin-bottom: 1.625rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #333
}

.sBkqMa {
    padding-right: 2.4375rem
}

.-iq1kb {
    display: flex;
    flex-direction: column;
    align-items: center
}

.K9qhN\+ {
    overflow: hidden;
    margin-bottom: .6875rem
}

.Gu30G0 {
    margin: -.625rem -.3125rem -.9375rem;
    width: 10rem;
    height: 10rem
}

._4g8WDv,.SRb1MM {
    width: 9.625rem;
    height: 3.1875rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: .625rem
}

._4g8WDv {
    background-position-x: -.625rem;
    background-position-y: -.6875rem;
    background-size: 113% 146%
}

.SRb1MM {
    background-size: 100%
}

.C\+FP2z {
    display: flex;
    align-items: center
}

._6SM7IS,.MedGQe {
    height: 1rem;
    padding: .1875rem
}

._76jAuP.RnOXTa {
    width: 34.8125rem;
    padding: 1rem 1.75rem 1.25rem
}

._76jAuP ._4mHzw7 {
    padding-top: 2.0625rem;
    margin-bottom: 1rem
}

._76jAuP ._4g8WDv {
    width: 7.5rem;
    height: 2.1875rem;
    background-position-x: -.5625rem;
    background-position-y: -.5625rem;
    background-size: 115% 151%
}

._76jAuP .SRb1MM {
    width: 6.6875rem;
    height: 2.1875rem
}

._76jAuP .w1bi-C {
    width: 6.875rem;
    height: 2.1875rem;
    background-size: 100% 114%;
    background-position-y: -.125rem;
    display: inline-block;
    background-repeat: no-repeat
}

._76jAuP .sBkqMa {
    padding-right: 1.4375rem
}

._76jAuP .-iq1kb {
    justify-content: center
}

._76jAuP .Gu30G0 {
    width: 11rem;
    height: 11rem;
    margin: 0
}

._76jAuP .K9qhN\+ {
    margin-bottom: -.25rem
}

._76jAuP ._1GWh1j,._76jAuP ._6SM7IS,._76jAuP .MedGQe {
    height: .75rem;
    padding: 0;
    margin-right: .375rem;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor
}

._76jAuP ._1GWh1j {
    margin-right: 0
}

.btn {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer
}

.btn--inline {
    display: inline-flex
}

.btn--full {
    width: 100%
}

.btn--s {
    height: 34px;
    padding: 0 15px;
    min-width: 60px;
    max-width: 190px
}

.btn--m {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px
}

.btn--l {
    font-size: 16px;
    height: 48px;
    padding: 0 20px
}

.btn--l,.btn--xl {
    min-width: 80px;
    max-width: 250px
}

.btn--xl {
    height: 52px
}

.btn-solid-primary {
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d
}

.btn-solid-primary.focus-visible:before,.btn-solid-primary:focus-visible:before {
    content: "";
    width: calc(100% + var(--focus-indicator-spacing)*2);
    height: calc(100% + var(--focus-indicator-spacing)*2);
    padding: var(--focus-indicator-spacing);
    outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
    position: absolute;
    border-radius: var(--focus-indicator-border-radius);
    top: calc(var(--focus-indicator-spacing)*-1);
    left: calc(var(--focus-indicator-spacing)*-1);
    margin: calc(var(--focus-indicator-spacing)*-1)
}

.btn-solid-primary:not(.btn-solid-primary--disabled):hover {
    background: #f05d40
}

.btn-solid-primary:not(.btn-solid-primary--disabled):active {
    background: #e2492b;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05)
}

.btn-solid-primary.btn-solid-primary--disabled {
    background: #facac0!important;
    cursor: not-allowed;
    box-shadow: none
}

.btn-solid-primary--link {
    color: #fff
}

.theme--ofs .btn-solid-primary {
    position: relative;
    overflow: visible;
    outline: 0;
    background: #d0011b
}

.theme--ofs .btn-solid-primary.focus-visible:before,.theme--ofs .btn-solid-primary:focus-visible:before {
    content: "";
    width: calc(100% + var(--focus-indicator-spacing)*2);
    height: calc(100% + var(--focus-indicator-spacing)*2);
    padding: var(--focus-indicator-spacing);
    outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
    position: absolute;
    border-radius: var(--focus-indicator-border-radius);
    top: calc(var(--focus-indicator-spacing)*-1);
    left: calc(var(--focus-indicator-spacing)*-1);
    margin: calc(var(--focus-indicator-spacing)*-1)
}

.theme--ofs .btn-solid-primary:not(.btn-solid-primary--disabled):hover {
    background: #d41830
}

.theme--ofs .btn-solid-primary:not(.btn-solid-primary--disabled):active {
    background: #c6011a;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05)
}

.theme--ofs .btn-solid-primary.btn-solid-primary--disabled {
    background: #f1b3bb!important;
    cursor: not-allowed;
    box-shadow: none
}

.theme--s-mart .btn-solid-primary {
    position: relative;
    overflow: visible;
    outline: 0;
    background: #066bc8
}

.theme--s-mart .btn-solid-primary.focus-visible:before,.theme--s-mart .btn-solid-primary:focus-visible:before {
    content: "";
    width: calc(100% + var(--focus-indicator-spacing)*2);
    height: calc(100% + var(--focus-indicator-spacing)*2);
    padding: var(--focus-indicator-spacing);
    outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
    position: absolute;
    border-radius: var(--focus-indicator-border-radius);
    top: calc(var(--focus-indicator-spacing)*-1);
    left: calc(var(--focus-indicator-spacing)*-1);
    margin: calc(var(--focus-indicator-spacing)*-1)
}

.theme--s-mart .btn-solid-primary:not(.btn-solid-primary--disabled):hover {
    background: #1c78cd
}

.theme--s-mart .btn-solid-primary:not(.btn-solid-primary--disabled):active {
    background: #0666be;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05)
}

.theme--s-mart .btn-solid-primary.btn-solid-primary--disabled {
    background: #b4d3ef!important;
    cursor: not-allowed;
    box-shadow: none
}

.btn-light {
    outline: 0;
    background: #fff;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    position: relative;
    overflow: visible
}

.btn-light.focus-visible:before,.btn-light:focus-visible:before {
    content: "";
    width: calc(100% + var(--focus-indicator-spacing)*2);
    height: calc(100% + var(--focus-indicator-spacing)*2);
    padding: var(--focus-indicator-spacing);
    outline: var(--focus-indicator-stroke-width) solid var(--focus-indicator-color);
    position: absolute;
    border-radius: var(--focus-indicator-border-radius);
    top: calc(var(--focus-indicator-spacing)*-1);
    left: calc(var(--focus-indicator-spacing)*-1);
    margin: calc(var(--focus-indicator-spacing)*-1)
}

.btn-light:active,.btn-light:hover {
    background: rgba(0,0,0,.02)
}

.btn-light:active {
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05)
}

.btn-light--link {
    color: #555
}

.btn-light--disabled {
    background: #fff!important;
    color: #ccc;
    cursor: not-allowed
}

.MjBpKP {
    position: relative;
    margin-bottom: 15px
}

.CFRSHK {
    display: none;
    position: absolute;
    top: -6px;
    left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    padding: 0 3px;
    background: #fff
}

.RAFXOH {
    display: block
}

.ZAPm6f {
    color: #ff424f
}

.mdyxNb {
    display: block;
    margin-top: 6px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    border-radius: 2px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.14);
    transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out
}

.y4W44r {
    border: 1px solid rgba(0,0,0,.54);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14)
}

.y4W44r .ZwMt5J {
    color: #333
}

.NNTaX2 {
    border-color: #ff424f
}

.NNTaX2:-moz-placeholder {
    color: #ff424f
}

.NNTaX2:-ms-input-placeholder {
    color: #ff424f
}

.NNTaX2::-webkit-input-placeholder {
    color: #ff424f
}

.NNTaX2::-moz-placeholder {
    color: #ff424f
}

.mdyxNb:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.05)
}

.h8DJZz {
    height: 38px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: initial;
    flex: 1;
    outline: none;
    font-size: 14px;
    min-width: 0;
    color: #222;
    border: 0
}

.h8DJZz._7IvZag {
    color: rgba(0,0,0,.65)
}

.h8DJZz.IzCf-p {
    color: #bbb
}

.h8DJZz:-moz-placeholder {
    color: #bbb
}

.h8DJZz:-ms-input-placeholder {
    color: #bbb
}

.h8DJZz::-webkit-input-placeholder {
    color: #bbb
}

.h8DJZz::-moz-placeholder {
    color: #bbb
}

.oaTXR6:-moz-placeholder {
    color: #ff424f
}

.oaTXR6:-ms-input-placeholder {
    color: #ff424f
}

.oaTXR6::-webkit-input-placeholder {
    color: #ff424f
}

.oaTXR6::-moz-placeholder {
    color: #ff424f
}

.WPQUMd {
    display: block;
    padding: 8px 0 2px;
    font-size: 12px;
    color: #ff424f
}

.WPQUMd:first-letter {
    text-transform: capitalize
}

._7s17xV {
    padding: 10px 3px 10px 10px
}

.RBh6h1 {
    display: flex;
    flex: 1;
    padding: 10px 38px 10px 10px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.14);
    word-break: break-word
}

.RBh6h1.eD06qb {
    padding-right: 10px
}

.RBh6h1.wiYMI1 {
    border: 1px solid rgba(0,0,0,.54);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14)
}

.RBh6h1._5LjEli {
    border: 1px solid #ee2c4a
}

input {
    flex: 1;
    padding: 0;
    border: 0;
    word-break: break-all
}

input,input:active,input:focus {
    outline: none
}

input::placeholder {
    color: #bbb
}

input.KZREzD {
    width: 1px;
    visibility: hidden
}

input:disabled {
    background: transparent
}

._1S3-8L {
    color: #bbb
}

.wiYMI1 {
    border: 1px solid #aaa
}

.esV1kt {
    flex: 1
}

._0Fc40a {
    height: 16px;
    width: 16px;
    margin-left: 4px
}

.pdq96V:hover {
    cursor: pointer
}

._7PJ80O {
    margin-right: 3px
}

.hBSaMz {
    visibility: hidden
}

.njp9zQ {
    display: flex;
    flex-direction: column;
    height: 280px;
    position: absolute;
    top: 4px;
    left: -1px;
    right: -1px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,.14);
    z-index: 99
}

.SqGo4Z {
    display: flex;
    flex-shrink: 0
}

.x8bghl {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,.14)
}

.x8bghl.\+2C0Ve {
    color: #ee4d2d;
    border-bottom: 2px solid #ee4d2d
}

.x8bghl:hover {
    cursor: pointer
}

.x8bghl.LkVT\+D {
    cursor: not-allowed
}

.IjVy85 {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto
}

.IjVy85 .tILDZA {
    padding: 12px;
    word-break: break-word
}

.IjVy85 .tILDZA:hover {
    background: #f5f5f5;
    cursor: pointer
}

.IjVy85 .tILDZA.\+2C0Ve {
    color: #ee4d2d
}

._4DGMJ5 {
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 280px;
    position: absolute;
    top: 4px;
    left: -1px;
    right: -1px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,.14);
    z-index: 99;
    overflow-y: auto
}

.vV7Qck {
    padding: 12px
}

.vV7Qck:hover {
    background: #f5f5f5;
    cursor: pointer
}

.vV7Qck span {
    color: rgba(0,0,0,.4)
}

.vV7Qck .pNGyy4 {
    color: #000;
    margin-right: 4px;
    font-weight: 500
}

.M2yUpJ {
    display: flex;
    position: relative;
    margin-bottom: 15px
}

.laKDSx {
    display: flex;
    flex-direction: column;
    flex: 1
}

.laKDSx,.laKDSx:active,.laKDSx:focus {
    outline: none
}

.mjXESB {
    position: relative;
    flex: 1;
    width: 100%
}

.aAyraH {
    color: #ff424f;
    margin-top: -12px;
    margin-bottom: 12px;
    font-size: 12px
}

.iNFisr {
    display: flex;
    align-items: center;
    position: absolute;
    right: 18px;
    height: 100%;
    width: 16px;
    margin-left: 4px
}

.QV2Cf2:hover {
    cursor: pointer
}

.k\+ZSYi {
    margin-right: 3px
}

.jo91Ot {
    visibility: hidden
}

.moxpxf {
    display: none;
    position: absolute;
    top: -6px;
    left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    background: #fff
}

.Ghzv\+j {
    display: block
}

.Rgz-tn {
    color: #ee2c4a
}

.d0coCO {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    height: 100%
}

.d0coCO>div {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,.4)
}

.YlxcCb {
    width: 700px;
    height: 582px
}

.YlxcCb .shopee-popup-form__main.shopee-popup-form__main {
    overflow-y: unset
}

.YlxcCb .stardust-carousel__dots {
    bottom: 10px
}

.Cs62ki .shopee-popup-form__subtitle {
    text-transform: unset;
    color: #888;
    font-weight: 200
}

.OrWOBx {
    flex: 1;
    display: flex;
    flex-direction: column
}

._8BGjX4 {
    margin-top: 6px;
    margin-bottom: 18px;
    position: relative;
    color: rgba(0,0,0,.8)
}

.cXYx-D {
    display: block;
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: -18px;
    height: 1px;
    background-color: rgba(0,0,0,.12)
}

.d\+Xqr8 {
    margin-top: 12px;
    max-height: 300px;
    overflow-y: auto
}

.VrQ2GT {
    color: #555;
    display: flex;
    align-items: center;
    margin-top: 5px;
    height: 40px;
    text-transform: capitalize
}

.VrQ2GT>svg {
    margin-right: 10px
}

.VrQ2GT:nth-child(2) {
    margin-left: 18px
}

.gMbWdy {
    display: flex
}

.KKNg-z {
    flex: 1;
    width: 0;
    max-width: 100%
}

.hB89vS {
    font-weight: 700;
    margin-bottom: 6px
}

.UmLgAS {
    word-wrap: break-word;
    margin-bottom: 3px;
    color: rgba(0,0,0,.87)
}

._67HGJ1 {
    color: rgba(0,0,0,.65)
}

.OoOwxK {
    position: relative
}

.kEI18s {
    position: absolute;
    right: 3px;
    top: 0;
    bottom: 14px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.kEI18s:hover {
    cursor: pointer
}

.qT3Odx {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 44px
}

.qT3Odx img {
    animation: rotating 2s linear infinite
}

.RZucev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px
}

.cu9rhp {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/checkout/3123515bf19db406d0f8f2056c2fc385.png)!important;
    width: 100px;
    height: 100px;
    margin-bottom: 36px
}

.N3wkFW {
    font-size: 14px
}

.GZj2Pl {
    margin: 3px 0;
    color: #ee4d2d
}

._0lFdcw {
    z-index: 10000
}

._8rckXt {
    padding: 20px
}

.a-NACl {
    display: flex;
    padding: 9px 0 12px
}

.a-NACl .stardust-radio {
    padding: 0
}

.a-NACl .stardust-radio-button {
    margin: 0
}

.a-NACl:last-child .XMlsE2 {
    border-bottom: unset
}

.a-NACl:hover {
    cursor: pointer
}

.XMlsE2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 12px;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(0,0,0,.12)
}

.XMlsE2 div {
    display: flex;
    word-break: break-word
}

.J\+nPN4 {
    flex-shrink: 0;
    margin-right: 6px;
    width: 14px;
    justify-content: center;
    align-items: center
}

.dR\+OYi {
    display: flex;
    font-weight: 700
}

.HPVHCj {
    margin-left: auto;
    margin-right: 6px;
    font-weight: 400;
    color: rgba(0,0,0,.4);
    font-size: 12px;
    flex-shrink: 0
}

.RhIazo {
    margin-top: .375rem
}

._6wcYgY {
    margin-top: .25rem;
    color: #999
}

.iAkZaF,.iAkZaF>div,.nXCR69 {
    width: 100%;
    height: 100%
}

.nXCR69 {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/checkout/84d5233fb5385ee22065f2ac491aa7c2.png);
    background-position: 50%;
    background-size: cover;
    opacity: .09
}

.EUf4qN {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 12px 12px;
    color: #fff
}

.EUf4qN div {
    display: flex;
    word-break: break-word
}

.EUf4qN svg path {
    fill: #fff;
    fill-opacity: 1
}

.A8DxJ9 {
    flex-shrink: 0;
    margin-right: 6px;
    width: 14px;
    justify-content: center;
    align-items: center
}

.bmPr0p {
    display: flex;
    font-weight: 700
}

.bmPr0p .hMDq7V,.T6g1ZT {
    margin-right: 6px
}

.T6g1ZT {
    margin-left: auto;
    font-weight: 400;
    font-size: 12px;
    flex-shrink: 0
}

.VXXmBM {
    margin-top: .375rem
}

.FhDaX1 {
    margin-top: .25rem
}

.mPNenj {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.dpDk1f {
    width: 120px;
    height: 120px;
    margin-bottom: 24px
}

.Yz6a51 {
    font-weight: 500;
    font-size: 1rem
}

.-Uigcr,.pSAJ-V,.QktY9z,.SaYPFX {
    align-items: center
}

.-Uigcr,.k-ev0r,.KwJUJi ._7H701n,.pSAJ-V,.QktY9z,.SaYPFX,.YTxXjF {
    display: flex
}

.k-ev0r,.pSAJ-V,.QktY9z {
    flex-direction: column
}

.pSAJ-V {
    justify-content: center
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .-Uigcr,.pSAJ-V,.QktY9z,.SaYPFX {
        height: 1px
    }

    .-Uigcr:after,.pSAJ-V:after,.QktY9z:after,.SaYPFX:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.f-cRsX.f-cRsX {
    width: 720px;
    height: 640px
}

.f-cRsX.f-cRsX .shopee-popup-form__main.shopee-popup-form__main {
    overflow-y: unset
}

.f-cRsX.f-cRsX .stardust-carousel__dots {
    bottom: 10px
}

.JqshFd .shopee-popup-form__subtitle {
    text-transform: unset;
    color: #888;
    font-weight: 200
}

.k-ev0r {
    flex: 1
}

.SHBmzv {
    max-width: 500px;
    position: relative
}

.-Uigcr {
    position: absolute;
    top: 0;
    right: 11px;
    margin-top: 6px;
    height: 40px
}

.SaYPFX {
    padding: 6px;
    height: 18px;
    width: 18px
}

.SaYPFX:hover {
    cursor: pointer
}

.YTxXjF {
    height: 400px
}

.rkfmzf {
    margin-top: 20px
}

.KwJUJi {
    flex: 1;
    margin-right: 9px;
    overflow-x: hidden;
    overflow-y: auto
}

.KwJUJi ._7H701n {
    padding: 8px;
    margin-bottom: 12px;
    font-size: .75rem;
    color: rgba(0,0,0,.54);
    background: #f5f5f5
}

.KwJUJi .XwlNQy {
    flex: 1;
    word-break: break-word
}

.KwJUJi ._2aodp6 {
    color: #05a
}

.KwJUJi ._2aodp6:hover {
    cursor: pointer
}

.bAsnjo {
    flex: 1;
    min-width: 336px
}

.QktY9z {
    margin-top: 70px
}

.QktY9z svg {
    max-width: 120px
}

.QktY9z ._0IbXLx {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0,0,0,.65)
}

.QktY9z .Oq6UXg {
    margin-top: 8px;
    font-size: .875rem;
    color: rgba(0,0,0,.54)
}

.kR0sdT {
    padding-right: 24px
}

.pSAJ-V {
    width: 100%;
    height: 460px
}

.ZRhZvk {
    position: relative;
    top: -20px
}

.dG2iXD {
    z-index: 10000
}

.XyuFY3 {
    height: 550px
}

.i4PRuU {
    color: #ff424f
}

._1wVjy6,.i4PRuU {
    font-size: .75rem;
    font-weight: 400;
    margin: 0 0 10px;
    width: 100%
}

.nRzmvr {
    width: 100%
}

.nRzmvr.LRh28z {
    position: absolute;
    left: -1000px;
    top: -1000px;
    width: 1px;
    height: 1px;
    opacity: 0
}

.\+7XNLa {
    padding-top: 30px;
    flex: 1;
    display: block;
    overflow-y: auto;
    position: relative
}

.p9M6Xb {
    font-size: .875rem;
    color: rgba(0,0,0,.54);
    margin: 2px 0 8px;
    font-weight: 400
}

.cFrFMv {
    flex-wrap: wrap;
    justify-content: space-between
}

._5h4v95,.cFrFMv {
    display: flex;
    width: 100%
}

._5h4v95 {
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.26);
    border-radius: 2px;
    line-height: 30px;
    padding: 9px 16px;
    cursor: pointer;
    align-items: center
}

.jzAu7P {
    cursor: not-allowed;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    border: 1px 5% #000;
    color: #ccc
}

.jzAu7P .XzYdmV.XzYdmV {
    filter: grayscale(1)
}

.Ir4DVO {
    flex: 1
}

._7pjc2L {
    color: rgba(0,0,0,.54)
}

.XzYdmV {
    width: 40px;
    height: 30px;
    vertical-align: middle;
    margin-right: 16px;
    object-fit: contain
}

.FESX2M {
    box-sizing: border-box;
    padding: 15px 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.26);
    border-radius: 2px;
    position: relative;
    display: flex
}

._1jo3T8,.E5N82T,.FESX2M {
    align-items: center
}

._1jo3T8,.E5N82T {
    display: flex;
    flex-direction: row
}

.E5N82T {
    justify-content: space-between
}

.\+jnLvc,.MRGlMG,.sIwOST,.u66A3F {
    line-height: 20px
}

._1jo3T8 {
    margin-bottom: 16px
}

.lABe9P {
    color: rgba(0,0,0,.65);
    width: 105px;
    margin-right: 12px
}

.E5N82T {
    flex: 1;
    border: 1px solid rgba(0,0,0,.14);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 15px 10px 10px;
    line-height: 20px;
    cursor: pointer
}

.MRGlMG,.sIwOST {
    color: rgba(0,0,0,.65)
}

.u66A3F {
    color: #bbb
}

.dGQb3R {
    width: 12px;
    height: 22px;
    color: rgba(0,0,0,.54);
    margin-left: 15px
}

._9aRnY5 {
    align-items: center
}

.Jwqrb5 {
    align-items: flex-start
}

._9aRnY5,.Jwqrb5 {
    display: flex;
    flex-direction: row
}

.Jwqrb5 {
    margin-bottom: 12px
}

._9aRnY5 {
    color: rgba(0,0,0,.65);
    min-height: 40px;
    width: 105px;
    margin-right: 12px
}

.HrwYCV.HrwYCV {
    flex: 1;
    margin: 0
}

.lCfbrO {
    width: 2.25rem!important;
    height: 2.25rem!important
}

.Me66w6 {
    align-items: center
}

.Me66w6,.uk\+rXg {
    display: flex;
    flex-direction: row
}

.uk\+rXg {
    justify-content: flex-end
}

.g2aCqP {
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    width: 500px
}

.KvURbe {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left
}

.IPokIK {
    width: 21px;
    height: 18px;
    fill: rgba(0,0,0,.65);
    margin-right: 14px;
    cursor: pointer
}

.BnIeq9 {
    font-size: 1.25rem;
    line-height: 32px
}

.Me66w6,.UT26tw {
    margin-bottom: 16px
}

.tiW52X {
    height: 40px
}

.tiW52X:first-child {
    margin-right: 12px
}

.VNtHvg {
    display: flex;
    padding: 9px 0 12px
}

.VNtHvg .stardust-radio__content {
    flex: 1
}

.VNtHvg .OHezbO {
    margin-left: 12px;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(0,0,0,.12)
}

.VNtHvg:last-child .OHezbO {
    border-bottom: unset
}

.itO4Os {
    font-weight: 700
}

.UXIC1g {
    margin-top: 6px
}

.-vw9b2 {
    margin-top: 4px;
    color: #999
}

.confirm-popup {
    flex-direction: column;
    width: 440px;
    font-size: 1rem;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center
}

.confirm-popup__button-group {
    display: flex;
    justify-content: center;
    margin-top: 2rem
}

.confirm-popup .shopee-button-outline--confirm-popup,.confirm-popup .shopee-button-solid--confirm-popup {
    width: 6.25rem;
    min-height: 2.5rem;
    font-size: .875rem;
    text-transform: uppercase;
    margin: .46875rem
}

.confirm-two-popup {
    flex-direction: column;
    width: 440px;
    font-size: 1rem;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center
}

.confirm-two-popup__button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.8125rem;
    width: 100%
}

.confirm-two-popup .shopee-button-no-outline--confirm-two-popup,.confirm-two-popup .shopee-button-solid--confirm-two-popup {
    width: 7.5rem;
    min-height: 2.5rem;
    font-size: .875rem;
    text-transform: uppercase;
    padding: .75rem;
    line-height: 1rem;
    font-weight: 500;
    font-family: Roboto
}

.confirm-two-popup .shopee-button-no-outline--confirm-two-popup {
    margin-right: 1.25rem;
    color: #000;
    opacity: .54
}

.deLOLF {
    position: absolute;
    top: 0;
    left: 0
}

.tduC8V {
    width: 3.625rem
}

.hQ3Yhb {
    padding: 1.875rem 1.875rem 1.25rem;
    width: 34.375rem;
    position: relative;
    overflow: hidden;
    border-radius: .1875rem;
    background-color: #fff;
    box-shadow: 0 .1875rem .625rem 0 rgba(0,0,0,.14);
    display: flex;
    flex-direction: row
}

.iHFphb {
    margin-bottom: .5625rem;
    font-size: 1.375rem;
    font-weight: 600;
    color: #333
}

.agBJeR {
    margin-bottom: 1.625rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #333
}

.p0dXEl {
    padding-right: 2.4375rem
}

._2pHMpB {
    display: flex;
    flex-direction: column;
    align-items: center
}

.wTutxk {
    overflow: hidden;
    margin-bottom: .6875rem
}

.WxBEbi {
    margin: -.625rem -.3125rem -.9375rem;
    width: 10rem;
    height: 10rem
}

.bGB\+xk,.h9JSlR {
    width: 9.625rem;
    height: 3.1875rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: .625rem
}

.bGB\+xk {
    background-position-x: -.625rem;
    background-position-y: -.6875rem;
    background-size: 113% 146%
}

.h9JSlR {
    background-size: 100%
}

.zwDXQ2 {
    display: flex;
    align-items: center
}

.fUOIpC,.NdGVo4 {
    height: 1rem;
    padding: .1875rem
}

.lkrz0h.hQ3Yhb {
    width: 34.8125rem;
    padding: 1rem 1.75rem 1.25rem
}

.lkrz0h .iHFphb {
    padding-top: 2.0625rem;
    margin-bottom: 1rem
}

.lkrz0h .bGB\+xk {
    width: 7.5rem;
    height: 2.1875rem;
    background-position-x: -.5625rem;
    background-position-y: -.5625rem;
    background-size: 115% 151%
}

.lkrz0h .h9JSlR {
    width: 6.6875rem;
    height: 2.1875rem
}

.lkrz0h .M1gKTI {
    width: 6.875rem;
    height: 2.1875rem;
    background-size: 100% 114%;
    background-position-y: -.125rem;
    display: inline-block;
    background-repeat: no-repeat
}

.lkrz0h .p0dXEl {
    padding-right: 1.4375rem
}

.lkrz0h ._2pHMpB {
    justify-content: center
}

.lkrz0h .WxBEbi {
    width: 11rem;
    height: 11rem;
    margin: 0
}

.lkrz0h .wTutxk {
    margin-bottom: -.25rem
}

.lkrz0h .fUOIpC,.lkrz0h .Gtn9NT,.lkrz0h .NdGVo4 {
    height: .75rem;
    padding: 0;
    margin-right: .375rem;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor
}

.lkrz0h .Gtn9NT {
    margin-right: 0
}

.icon-popup {
    flex-direction: column;
    width: 440px;
    font-size: 1rem;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center
}

.error-popup .icon-error {
    margin-bottom: 14px;
    width: 50px;
    height: 50px
}

.info-popup {
    flex-direction: column;
    width: 440px;
    font-size: 1rem;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.5)
}

.info-popup__head {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px
}

.info-popup__head .shopee-svg-icon {
    height: 24px;
    width: 24px
}

.info-popup__icon {
    margin-right: 10px
}

.info-popup__title {
    font-size: 18px;
    color: #333
}

.info-popup__message {
    font-size: 16px;
    color: #555
}

.info-popup__buttons {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.info-popup__btn {
    width: 6.25rem;
    min-height: 2.5rem;
    font-size: .875rem;
    text-transform: uppercase;
    margin: .46875rem
}

.success-popup__icon {
    margin-bottom: 14px;
    width: 50px;
    height: 50px
}

.shopee-modal__transition-appear {
    opacity: .01
}

.shopee-modal__transition-appear.shopee-modal__transition-appear-active {
    opacity: 1;
    transition: opacity .2s
}

.shopee-modal__transition-enter {
    opacity: .01
}

.shopee-modal__transition-enter.shopee-modal__transition-enter-active {
    opacity: 1;
    transition: opacity .2s
}

.shopee-modal__transition-exit {
    opacity: 1
}

.shopee-modal__transition-exit.shopee-modal__transition-exit-active {
    opacity: .01;
    transition: opacity .2s
}

.shopee-alert-popup {
    background-color: #fff
}

.shopee-alert-popup__btn {
    flex: 1;
    max-width: 100%
}

.shopeeCopyMessage {
    width: 100%;
    text-align: center;
    margin-top: 44px;
    font-size: 20px;
    margin-bottom: 66px;
    outline: none;
    background-color: initial;
    border: 0 solid;
    color: #f5a623
}

.shopeeTributtonTitle {
    color: #555;
    font-size: 18px;
    margin-top: 6px;
    margin-left: 10px
}

.shopeeTributtonButtons {
    justify-content: flex-end;
    margin-top: 0
}

.lmuINm,.qM6DTY {
    align-items: center
}

._3LZNLo,.lmuINm,.qM6DTY {
    display: flex
}

._3LZNLo {
    flex-direction: column;
    justify-content: center
}

.lmuINm {
    justify-content: flex-end
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .lmuINm,.qM6DTY {
        height: 1px
    }

    .lmuINm:after,.qM6DTY:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

._3LZNLo {
    position: relative;
    width: 500px;
    height: 600px
}

.qM6DTY {
    border-bottom: 1px solid rgba(0,0,0,.09);
    box-sizing: border-box;
    height: 56px;
    padding: 16px 24px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem
}

.X278ad {
    flex: 1;
    overflow: scroll;
    padding: 24px 24px 88px;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.X278ad::-webkit-scrollbar {
    display: none
}

.lmuINm {
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.09);
    padding: 0 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px
}

.Ecxm7g {
    width: 16px;
    height: 16px;
    fill: rgba(0,0,0,.54);
    margin-right: 8px
}

.cN4f-L {
    color: rgba(0,0,0,.65);
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    height: 40px;
    font-size: 1rem;
    line-height: 1.5rem
}

.cN4f-L:hover {
    background-color: rgba(0,0,0,.02)
}

.cN4f-L:active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.05)
}

.u5sL-t {
    margin-right: 8px
}

.RZP5QG {
    height: 40px;
    font-size: 1rem;
    line-height: 1.5rem
}

.jD5CHU {
    padding-top: 0
}

.FjbwY3,.OQ30XY {
    padding: 24px;
    width: 500px;
    box-sizing: border-box
}

.ieONMv {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .ieONMv {
        height: 1px
    }

    .ieONMv:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.ieONMv {
    width: 240px
}

.uwwyop {
    margin: 16px 0;
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(0,0,0,.54)
}

._0GDQNb {
    width: 100%
}

.kzj4YE {
    width: 16px;
    height: 16px;
    fill: #fff;
    margin-right: 8px
}

._0lhSn3 {
    color: rgba(0,0,0,.65);
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px rgba(0,0,0,.03)
}

._0lhSn3:hover {
    background-color: rgba(0,0,0,.02)
}

._0lhSn3:active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.05)
}

.EYtby\+ {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .EYtby\+ {
        height: 1px
    }

    .EYtby\+:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.EYtby\+ {
    width: 240px
}

._914MIe {
    margin: 16px 0 8px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0,0,0,.65)
}

.rJv4cd {
    font-size: .875rem;
    color: rgba(0,0,0,.54);
    margin-bottom: 16px
}

.\+7sjE2 {
    width: 100%
}

.rdawWY {
    color: rgba(0,0,0,.65);
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px rgba(0,0,0,.03)
}

.rdawWY:hover {
    background-color: rgba(0,0,0,.02)
}

.rdawWY:active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.05)
}

.EG3qur {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .EG3qur {
        height: 1px
    }

    .EG3qur:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.PxiaGN {
    color: rgba(0,0,0,.65);
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px rgba(0,0,0,.03)
}

.PxiaGN:hover {
    background-color: rgba(0,0,0,.02)
}

.PxiaGN:active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.05)
}

._3Vkt1z {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.54);
    border-radius: 2px
}
