.xlY0Ec {
    padding: 0 .625rem;
    border: 1px solid rgba(0,0,0,.14);
    border-left: 0;
    color: #555;
    cursor: pointer;
    background-color: #fbfbfb;
    outline: none;
    min-width: 6.25rem;
    box-sizing: border-box
}

.HiPdSp {
    cursor: not-allowed;
    color: #ccc
}

.SdbHBJ {
    opacity: .05
}

.Zj8sVX {
    opacity: 1;
    transition: opacity .2s
}

.IEOYbS {
    opacity: .05
}

.U0NILC {
    opacity: 1;
    transition: opacity .2s
}

.qa-dad {
    min-height: 1rem;
    margin-bottom: .3125rem
}

.eZSj7W {
    text-align: center
}

.VS6zQ7 {
    color: #ff424f
}

.tpfoJp {
    display: flex
}

.u0JcnJ {
    width: 100%;
    border-radius: .125rem;
    overflow: hidden
}

.V9Zckq {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.14);
    height: 2.5rem
}

.V9Zckq,.vG4Hze {
    padding: .625rem;
    outline: none
}

.vG4Hze {
    border: 0
}

.K52N1a {
    border: 1px solid #ff424f
}

.y8ai4\+ {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.14);
    height: 2.5rem
}

.hf58Lk {
    border: 1px solid #ff424f
}

.-DKF3P,.a9-lD2 {
    border-color: rgba(0,0,0,.54)
}

.YePhpc {
    flex: 1;
    flex-shrink: 0
}

.APd54k {
    margin: 0;
    padding: .25rem 0 .5rem;
    font-size: .75rem;
    min-height: .9375rem;
    color: #ff424f
}

.APd54k:first-letter {
    text-transform: capitalize
}

.dkUjkK {
    align-items: center;
    display: flex;
    flex-direction: column
}

._7cLgni,._33SJnB {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center
}

.dkUjkK {
    width: 27.5rem;
    padding: 1.875rem;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.54);
    border-radius: .1875rem
}

.nvoiUV {
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: .9375rem
}

._7cLgni {
    color: #ff424f
}

._33SJnB {
    color: #6c0
}

.bGr6xc {
    align-items: center;
    display: flex
}

.bGr6xc,.l81kag {
    justify-content: center
}

.gyZ7Lc {
    flex: 1
}

.-Sk8A5 {
    outline: none;
    padding: 0 .625rem;
    border: 0;
    background: none;
    border-radius: .125rem
}

.-Sk8A5:hover {
    opacity: .91
}

.-Sk8A5:active {
    opacity: 1
}

.-Sk8A5:disabled {
    opacity: .7;
    cursor: not-allowed
}

.l81kag {
    height: 2.5rem;
    min-width: 8.75rem
}

.l81kag:not(:first-of-type) {
    margin-left: .625rem
}

.T\+NPXE {
    text-transform: uppercase
}

._9XkA2t {
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0,0,0,.09)
}

._9XkA2t:active {
    background-color: #e2492b
}

.SNJ7GX {
    color: #555
}

.SNJ7GX:hover {
    background-color: #f8f8f8
}

.SNJ7GX:active {
    background-color: #f5f5f5
}

.aAYDyI {
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    color: #555;
    border: 1px solid rgba(0,0,0,.09)
}

.aAYDyI:hover {
    background-color: rgba(0,0,0,.02)
}

.aAYDyI:active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.05)
}

.qq9AJH {
    color: #05a;
    font-size: .75rem;
    line-height: .875rem;
    padding: 0 .625rem
}

.xI3rpE {
    width: 100%
}

.Flo0Pq {
    align-items: center
}

.Flo0Pq,.g4YLsy,.xra8Qz {
    display: flex
}

.xra8Qz {
    flex-direction: column
}

.diLeuH,.Flo0Pq,.plK9L\+ {
    justify-content: center
}

.PxvDz- {
    justify-content: flex-end
}

.xra8Qz {
    box-sizing: border-box;
    padding: 1.875rem;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.54);
    border-radius: .1875rem
}

.lbE1v1 {
    max-width: 27.5rem
}

.bGh11A,.lbE1v1 {
    padding: 2.5rem 3.4375rem 1.875rem
}

.bGh11A {
    max-width: 33.75rem
}

.m0PGAn {
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 16px
}

.m0PGAn,.t-Ulmz {
    text-align: center
}

._2Y2jAj {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500
}

.F5ZF2o {
    width: 23.75rem;
    color: #555;
    font-size: 1rem
}

.g4YLsy {
    margin-top: 1.875rem
}

.CHXaBr {
    text-transform: uppercase
}

._5Uzwe5 {
    width: 27.5rem
}

.TXRcCM {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #ff424f
}

.EhrGHM {
    margin: 2.1875rem .3125rem .3125rem auto;
    width: 6.25rem
}

.diLeuH {
    padding: 8px 16px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0,0,0,.09)
}

.diLeuH:not(:first-of-type) {
    margin-left: 10px
}

.diLeuH:active {
    background-color: #e2492b
}

.Rl06Qj {
    padding: 8px 16px;
    font-size: 1rem;
    line-height: 1.5rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    color: #555;
    border: 1px solid rgba(0,0,0,.09)
}

.Rl06Qj:not(:first-of-type) {
    margin-left: 10px
}

.Rl06Qj:hover {
    background-color: rgba(0,0,0,.02)
}

.Rl06Qj:active {
    box-shadow: inset 0 2px 1px rgba(0,0,0,.02)
}

.u\+U3aD {
    align-items: center;
    display: flex;
    font-size: 20px
}

.MBGABc {
    cursor: pointer;
    margin-right: 15px;
    height: 15px;
    width: 15px
}

.KE7xpp {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    width: 100%
}

.NjqqYS {
    align-items: flex-end
}

.Eb7GWV,.L9HW8v,.NjqqYS {
    display: flex
}

.Eb7GWV {
    flex-direction: column
}

.NjqqYS {
    justify-content: flex-end
}

.Eb7GWV {
    position: relative;
    padding-top: 15px;
    height: 480px;
    box-sizing: border-box
}

._9eRQLw {
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 66px;
    -ms-overflow-style: none;
    scrollbar-width: none
}

._9eRQLw::-webkit-scrollbar {
    display: none
}

.L9HW8v {
    width: 100%
}

.NjqqYS {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(hsla(0,0%,100%,.7),#fff);
    height: 66px
}

.tpACWk {
    width: 16px
}

.HgxESG,.SCF6P1 {
    align-items: center;
    display: flex
}

.K-poJS {
    position: relative;
    margin-bottom: 15px;
    margin-top: 6px
}

.PEzOwl {
    display: none;
    position: absolute;
    top: -6px;
    left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    padding: 0 3px;
    background: #fff
}

.rJL5wN {
    display: block
}

.\+GN--V {
    color: #ff424f
}

.HgxESG {
    position: relative;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    border-radius: 2px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.14);
    transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out
}

.HgxESG:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.05)
}

.rvqWO8 {
    border-color: #ff424f
}

.rvqWO8::placeholder {
    color: #ff424f
}

.XwhItl {
    border: 1px solid rgba(0,0,0,.54);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14)
}

.fasO4g {
    height: 38px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: initial;
    flex: 1;
    outline: none;
    font-size: 14px;
    min-width: 0;
    color: #222;
    border: 0
}

.fasO4g::placeholder {
    color: #bbb
}

.fasO4g:read-only {
    color: #bbb
}

.fasO4g:-moz-read-only {
    color: #bbb
}

.fasO4g:disabled {
    color: #e7e7e7;
    -webkit-text-fill-color: #e7e7e7
}

.l9JYQu::placeholder {
    color: #ff424f
}

.DU2\+9S {
    display: block;
    padding: 8px 0 2px;
    font-size: 12px;
    color: #ff424f
}

.DU2\+9S:first-letter {
    text-transform: capitalize
}

.SCF6P1 {
    top: 0;
    bottom: 0;
    padding-right: 9px
}

.SCF6P1,.X91fi7 {
    position: absolute;
    right: 0
}

.X91fi7 {
    left: 0;
    max-height: 192px;
    overflow-y: auto;
    z-index: 1;
    background: #fff;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,.14)
}

.d2BpFZ,.H2bPU2,.iigDgK,.q5o2oI {
    flex: 1
}

.OFh-Td {
    flex: 2
}

.TwLNrG {
    margin-right: 6px
}

._7X1qFw {
    align-items: center;
    display: flex
}

.xonh4\+ {
    position: absolute;
    left: -1px;
    right: -1px;
    margin-top: 4px;
    z-index: 1;
    background: #fff;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,.14)
}

._7X1qFw {
    padding: 6px
}

._7X1qFw:hover {
    background: #efefef;
    cursor: pointer
}

.xHw7O5 {
    flex: 1;
    font-size: 14px
}

.RCQS2e.RCQS2e {
    border-radius: 3px;
    padding: 6px 8px;
    font-size: 12px;
    min-width: 0;
    text-transform: capitalize
}

.NCvv2A {
    align-items: center;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 10px;
    border: 0;
    background: none;
    border-radius: 2px;
    min-width: 140px;
    font-size: 14px;
    cursor: pointer
}

.NCvv2A:hover {
    opacity: .9
}

.NCvv2A:active {
    opacity: 1
}

.NCvv2A:disabled {
    opacity: .7;
    cursor: not-allowed
}

.D7bRLo {
    border: 1px solid #ee4d2d;
    color: #ee4d2d
}

.D7bRLo,.UtX1Sm {
    background-color: #fff
}

.UtX1Sm {
    border: 1px solid #2673dd;
    color: #2673dd
}

.qouWQk {
    color: #fff;
    background-color: #ee4d2d
}

.qouWQk:active {
    background-color: #e2492b
}

.yonKNA {
    color: #fff;
    background-color: #2673dd
}

.yonKNA:active {
    background-color: #1890ff
}

.oubYLd {
    color: #555
}

.oubYLd:hover {
    background-color: #f8f8f8
}

.oubYLd:active {
    background-color: #f5f5f5
}

.TKOOaH {
    align-items: center
}

.TKOOaH,.uYQOHY {
    display: flex
}

.uYQOHY {
    flex-direction: column
}

.Tt8CsJ {
    flex-shrink: 0
}

.uYQOHY {
    margin-top: 10px;
    margin-bottom: 20px
}

.Tt8CsJ {
    margin-right: 10px;
    margin-bottom: 8px;
    color: #555
}

.rDR-NV {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.m38Cs5 {
    margin-top: 6px;
    color: #ff424f
}

.tMgqZi {
    align-items: center;
    display: flex;
    padding: 0 12px;
    margin-right: 10px;
    height: 40px;
    max-width: 146px;
    border: 1px solid rgba(0,0,0,.09);
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    border-radius: 2px
}

.tMgqZi:hover {
    cursor: pointer
}

.sj5NMF {
    color: #ee4d2d;
    border-color: #ee4d2d
}

.yZlDsU {
    color: #2673dd;
    border-color: #2673dd
}

._43wNl8 {
    background-color: rgba(255,66,79,.05)
}

.ijQX1\+ {
    opacity: .35;
    cursor: not-allowed
}

.my9d4K {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px
}

.stardust-popover {
    position: relative
}

.stardust-popover.focus-visible,.stardust-popover:focus-visible {
    outline: 2px solid #000;
    border-radius: 2px
}

.stardust-popover__popover {
    will-change: transform;
    position: absolute;
    z-index: -1
}

.stardust-popover__popover--show {
    z-index: 3;
    animation: popover-enter-animation .2s cubic-bezier(.4,0,.6,1);
    opacity: 1
}

.stardust-popover__popover--border {
    border: 1px solid rgba(0,0,0,.09)
}

.stardust-popover__popover--hide {
    animation: popover-hide-animation .2s cubic-bezier(.4,0,.6,1)
}

.stardust-popover__arrow {
    z-index: 3;
    position: absolute;
    will-change: transform
}

.stardust-popover__arrow--inner {
    position: absolute;
    left: -8px;
    width: 0;
    height: 0
}

@keyframes popover-enter-animation {
    0% {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popover-hide-animation {
    0% {
        transform: scale(1);
        opacity: 1
    }

    to {
        transform: scale(0);
        opacity: 0
    }
}

._2VPxCf {
    align-items: center;
    display: flex;
    cursor: default;
    position: relative;
    color: rgba(0,0,0,.54);
    max-width: 400px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-bottom: 12px;
    margin-left: 12px
}

.EGgiT6 {
    opacity: .35;
    cursor: no-drop
}

.Ren9OL {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute
}

.W\+NVhE {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.14);
    text-align: center;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    margin-right: 8px;
    box-sizing: initial
}

.W\+NVhE:hover {
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.09)
}

.W\+NVhE:before {
    position: absolute;
    content: "";
    height: 5px;
    width: 9px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    left: 3px;
    top: 3px
}

.fPcspu {
    background: #e7e7e7;
    box-shadow: none
}

.fPcspu:before {
    border-color: transparent
}

.ak1WhL {
    background: #ee4d2d;
    border-color: #ee4d2d
}

.ak1WhL:hover {
    box-shadow: none
}

.ak1WhL:before {
    border-color: #fff
}

.esTRhE {
    background: #2673dd;
    border-color: #2673dd
}

.esTRhE:hover {
    box-shadow: none
}

.esTRhE:before {
    border-color: #fff
}

.ZHyjn7 {
    outline: none
}

.zK5k5K {
    padding: 10px;
    background-color: #fff;
    width: 200px;
    text-align: center
}

.PQSnx8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 100px;
    color: #fff;
    max-width: 263px;
    padding: 10px 20px;
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.PQSnx8:after,.PQSnx8:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.PQSnx8:after {
    border-color: #ee4d2d transparent transparent;
    border-width: 6px;
    margin-left: -6px
}

.PQSnx8:before {
    border-top-color: #ee4d2d;
    border-width: 6px;
    margin-left: -6px
}

.SR3vfx {
    background-color: #ee4d2d
}

.yJIw3p {
    background-color: #565757
}

.yJIw3p:after,.yJIw3p:before {
    border-top-color: #565757
}

.LOrKTJ {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px
}

.NKvac1 {
    font-size: 12px;
    line-height: 14px
}

.C85D8Y {
    position: relative;
    width: 100%;
    min-height: 100px
}

.Oknxs\+ {
    filter: contrast(.5) brightness(1.35);
    pointer-events: none;
    cursor: not-allowed
}

._2xpjT6 {
    transform: translate(-50%,calc(-100% - 52px));
    animation: _6O7s-5 4s ease infinite forwards
}

@keyframes _6O7s-5 {
    25% {
        transform: translate(-50%,calc(-100% - 49.5px))
    }

    50% {
        transform: translate(-50%,calc(-100% - 54.5px))
    }

    75% {
        transform: translate(-50%,calc(-100% - 49.5px))
    }

    to {
        transform: translate(-50%,calc(-100% - 52px))
    }
}

.PLnnGY {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    border: 1px solid rgba(0,0,0,.09);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    border-radius: 2px;
    position: absolute
}

.PLnnGY:hover {
    background: #f6f6f6
}

.PLnnGY:disabled {
    background: #fff;
    color: #ccc
}

.wE-wmI {
    margin-right: 12px;
    fill: currentColor;
    width: 1em;
    height: 1em
}

._3BHMVV {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    border: 1px solid rgba(0,0,0,.09);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    border-radius: 2px;
    position: absolute
}

._3BHMVV:hover {
    background: #f8f8f8
}

._3BHMVV:disabled {
    background: #fff;
    color: #e7e7e7
}

.fXWPVk {
    align-items: center
}

.APX94O {
    align-self: flex-start
}

.fXWPVk {
    display: flex;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    min-height: 52px;
    padding: 12px
}

.zJFL6a {
    background: #fff8e4
}

.ixpWIR {
    background: #fff4f4
}

._4\+gjT2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 4px
}

.GmOFtl {
    color: #f69113
}

.Ficq-U {
    color: #ee2c4a
}

._85SBRT {
    font-size: 12px;
    line-height: 14px
}

.APX94O {
    width: 20px;
    height: 20px;
    margin-right: 8px
}

._9zrUYl {
    flex: 1
}

.rwCd1u {
    display: block;
    width: 100%
}

.enAKBW {
    position: relative;
    height: 120px;
    width: 100%
}

.enAKBW:hover .G0bzLM {
    display: block
}

.SW6kJd {
    position: absolute;
    width: 100%;
    height: 100%
}

._3K4n6U {
    cursor: pointer
}

.kdOXMk {
    width: 100%;
    height: 100%
}

._3K4n6U.u-bILp {
    cursor: not-allowed
}

.iQJLI- {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.iQJLI-:disabled {
    cursor: not-allowed
}

.G0bzLM {
    display: none;
    text-transform: capitalize;
    right: 10px;
    top: 10px
}

.G0bzLM,.kR1ZUf {
    position: absolute
}

.kR1ZUf {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 15px;
    border: 0;
    background: none
}

.YNC2la {
    position: relative;
    width: 700px;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border-radius: 3px
}

.CePxsX {
    padding: 30px
}

.A0cy76 {
    min-height: 385px
}

.KQKLTV {
    padding: 30px
}

.CtXOm- {
    display: flex;
    justify-content: flex-end
}

.jBNITv {
    margin-right: 6px
}

.bNtEHm {
    align-items: center;
    display: flex
}

.fZPp-s,.odnQ4K {
    background: none;
    border: 0;
    cursor: pointer
}

.fZPp-s {
    margin-right: 8px;
    margin-left: -8px;
    padding: 8px
}

.WAcqRq {
    font-size: 20px;
    color: #333
}

.GTwhgN {
    color: rgba(0,0,0,.54)
}

.odnQ4K {
    margin-left: 6px;
    padding: 0;
    color: #08f
}

.uE2CfP {
    height: 385px
}

.q4ntb4 {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .q4ntb4 {
        height: 1px
    }

    .q4ntb4:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.itMg\+R {
    width: 500px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border-radius: 3px;
    padding: 30px;
    color: rgba(0,0,0,.54)
}

.VnE\+Pb {
    margin-bottom: 6px
}

.zy-Vds {
    margin-top: 10px;
    margin-bottom: 30px
}

.q4ntb4 {
    margin-top: 30px
}

._1AEaCA {
    margin: 0 8px
}

._5u78OQ {
    margin: 0 -8px
}

.LgOkWG {
    margin-bottom: 12px
}

.x13RVL {
    font-size: 20px;
    line-height: 32px;
    color: rgba(0,0,0,.87)
}

.yWq45q {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

.Dc8s6j {
    width: 500px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border-radius: 3px;
    padding: 30px;
    color: rgba(0,0,0,.54)
}

.Kqlgwu {
    margin-top: 10px
}

.yWq45q {
    margin-top: 30px
}

._4oASj9 {
    margin: 9px 0
}

.TVZO7b {
    display: flex;
    justify-content: flex-end
}

._1VdBOR,._2CmgG6,.GBv8SV,.JiJeUf,.pE-juJ,.Q6P4yN,.umMxi4 {
    flex: 1
}

.VkXZqD {
    flex: 3
}

.CQcx2E {
    width: 16px
}

.TVZO7b {
    margin-top: 15px
}

.yi-wfI {
    margin-right: 6px
}

._3ZeySS {
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
    position: absolute!important
}

.Av\+5ye {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6)
}

.Av\+5ye,.Xc4qsC {
    position: absolute
}

.Xc4qsC {
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 300px;
    padding: 30px;
    border-radius: 3px;
    background: #fff;
    text-align: center;
    transform: translate3d(-50%,-50%,0)
}

.aP6Xpi {
    margin: 0 0 20px;
    font-size: 16px
}

.p-16F7 {
    margin: 0
}

._4KkW3I,._6HHwEH,.e4k93-,.J8R2-Y,.kc-UDq,.PoGNJl,.su32Lu {
    flex: 1
}

.z1PAtM {
    flex: 3
}

.MU\+YRD {
    margin-right: 6px
}

.D6NUt3,.we5pCr {
    align-items: center;
    display: flex
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .D6NUt3,.we5pCr {
        height: 1px
    }

    .D6NUt3:after,.we5pCr:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.f6-5xT {
    width: 100%
}

.we5pCr {
    height: 40px
}

.QmLQy3 {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,.54)
}

.D6NUt3 {
    padding: 16px 16px 16px 12px;
    height: 48px;
    box-sizing: border-box
}

.D6NUt3:hover {
    background: #efefef;
    cursor: pointer
}

.dErnDh {
    align-items: center;
    display: flex;
    justify-content: center
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .dErnDh {
        height: 1px
    }

    .dErnDh:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.dErnDh {
    cursor: pointer;
    flex: 1;
    padding: 15px 2px;
    overflow: hidden;
    text-align: center
}

.A0WJWg {
    color: #ee4d2d
}

.dxN3KT {
    color: #2673dd
}

._2UIMcG {
    cursor: not-allowed
}

.pBkTHd {
    padding: 12px;
    cursor: pointer;
    word-wrap: break-word
}

.pBkTHd:hover {
    background-color: #f5f5f5
}

._91wL65 {
    color: #ee4d2d
}

.tUTcRc {
    color: #2673dd
}

.EcKbR0,.jBqDvS {
    align-items: center
}

.JC64OB {
    align-items: stretch
}

.EcKbR0,.jBqDvS,.JC64OB,.Sbck6\+ {
    display: flex
}

.JC64OB {
    flex-direction: column
}

.EcKbR0,.jBqDvS {
    justify-content: center
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .EcKbR0,.jBqDvS {
        height: 1px
    }

    .EcKbR0:after,.jBqDvS:after {
        content: "";
        min-height: inherit;
        font-size: 0
    }
}

.JC64OB {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 5px);
    height: 280px;
    max-height: 280px;
    z-index: 600;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,.14);
    background-color: #fff
}

.Sbck6\+ {
    border-bottom: 1px solid rgba(0,0,0,.14)
}

.bxZBfz {
    transition: transform .3s;
    margin-top: -2px
}

.lpSFfV {
    border-bottom: 2px solid #ee4d2d
}

.tA\+a9H {
    border-bottom: 2px solid #2673dd
}

.zBTqA0 {
    flex: 1;
    overflow-y: auto
}

.EcKbR0,.jBqDvS {
    height: 100%
}

.s5P7ir {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 5px);
    max-height: 280px;
    z-index: 600;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0,0,0,.14);
    background-color: #fff
}

.dRGgfV {
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer
}

.dRGgfV:hover {
    background-color: #f5f5f5
}

.cxxWv0 {
    color: rgba(0,0,0,.4)
}

.cxxWv0:not(:last-child) {
    margin-right: 8px
}

.C-eByy {
    color: #000;
    font-weight: 500
}

._2Z-v7G,.VePcq8 {
    align-items: center
}

.ZKKXqr {
    align-self: stretch
}

._2Z-v7G,.VePcq8 {
    display: flex
}

.sxTpqI {
    position: relative;
    margin-top: 6px
}

.CiVSHD {
    display: none;
    position: absolute;
    top: -6px;
    left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    padding: 0 3px;
    background: #fff
}

._6SE4Q9 {
    display: block
}

._3jwuXL {
    color: #ff424f
}

.VePcq8 {
    position: relative;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    border-radius: 2px;
    min-height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.14);
    transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out
}

.VePcq8:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.05)
}

.m7fOdH {
    border-color: #ff424f
}

.m7fOdH::placeholder {
    color: #ff424f
}

.MCFG0j {
    border: 1px solid rgba(0,0,0,.54);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14)
}

.i7whFJ {
    height: 38px;
    background-color: initial;
    outline: none;
    border: 0;
    min-width: 0
}

.i7whFJ::placeholder {
    white-space: nowrap
}

.JjPh4H {
    word-break: normal;
    word-wrap: anywhere;
    outline: none
}

.w6vy7d::placeholder {
    color: #ff424f
}

.MgsReA {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

._2Z-v7G {
    padding-right: 9px
}

.Ttkjwu,.ZKKXqr {
    width: 16px;
    height: 16px;
    margin-right: 3px
}

.ZKKXqr {
    cursor: pointer
}

.w3z405 {
    margin-right: 3px
}

._93ioKl,.i7whFJ {
    color: #222
}

._5z99K0,.i7whFJ::placeholder {
    color: #bbb
}

.A07AqE,.i7whFJ,.JjPh4H {
    box-sizing: border-box;
    padding: 10px;
    flex: 1
}

.DJCumc {
    display: block;
    padding: 8px 0 2px;
    font-size: 12px;
    color: #ff424f
}

.RCkTSv {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,.4)
}

.m5RZka {
    flex: 1;
    position: relative;
    margin-bottom: 15px
}

.cPpD7B,.UtYT2J,.VcJU\+P,.vObkVo {
    flex: 1
}

.NE8iVu {
    flex: 3
}

.nHbfLQ {
    margin-right: 6px
}

.\+Xl5nl {
    margin-bottom: 15px;
    width: 100%
}

._6KpdBY._6KpdBY {
    margin-bottom: 0
}

.k1bYqA {
    position: relative
}

.NyBSWA {
    align-items: center;
    display: flex
}

.n17Gd9 {
    position: relative;
    margin-bottom: 15px;
    margin-top: 6px
}

._1j9jyh {
    display: none;
    position: absolute;
    top: -6px;
    left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    padding: 0 3px;
    background: #fff
}

.UID0Kj {
    display: block
}

.TRFUHn {
    color: #ff424f
}

.NyBSWA {
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.02);
    border-radius: 2px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.14);
    transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out
}

.NyBSWA:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.05)
}

.jWFbNy {
    border-color: #ff424f
}

.jWFbNy::placeholder {
    color: #ff424f
}

.YR4SrS {
    border: 1px solid rgba(0,0,0,.54);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14)
}

.KyMAqX {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: initial;
    flex: 1;
    outline: none;
    font-size: 14px;
    min-width: 0;
    color: #222;
    border: 0;
    resize: none
}

.KyMAqX::placeholder {
    color: #bbb
}

.KyMAqX:read-only {
    color: #bbb;
    pointer-events: none
}

.KyMAqX:-moz-read-only {
    color: #bbb;
    pointer-events: none
}

.KyMAqX:disabled {
    color: #e7e7e7;
    -webkit-text-fill-color: #e7e7e7
}

.zfGhsB::placeholder {
    color: #ff424f
}

.eumgq4 {
    display: block;
    padding: 8px 0 2px;
    font-size: 12px;
    color: #ff424f
}

.eumgq4:first-letter {
    text-transform: capitalize
}

.MAjp\+h {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,.14)
}

.X6B1Z8 {
    cursor: pointer;
    padding: 6px
}

.tdabIn,.X6B1Z8:hover {
    background: #efefef
}

._8AdJWg,.N22rAY,.oNBCDH {
    font-size: 14px;
    line-height: 20px
}

.N22rAY {
    font-weight: 500
}

.\+um2lp,.B\+dfSu,.IeRPqj,.qdKHx5,.YEtXph,.zMzt8F {
    flex: 1
}

.\+xLkeT {
    margin-right: 6px
}

.arFjjr,.CtC2LZ,.jdMqY8,.M0c\+MT,.RdzEB3,.u4n2SF {
    flex: 1
}

.xYmJiV {
    margin-right: 6px
}

._1aW0b-,.aVI27s,.O1Ke5l,.vKwWBB,.xHVmuc {
    flex: 1
}

._9nWruY {
    margin-right: 6px
}

.cHJyuR,.gRI7ek,.KWtUbk,.niHMf9,.S1xdzI,.VkL6V9,.zlAbuF {
    flex: 1
}

.oooIyB {
    flex: 3
}

.\+UpjQv {
    margin-right: 6px
}

.CM\+\+6z,.TbrgCo,.xFYKSK {
    flex: 1
}

.YUtOxJ {
    margin-right: 6px
}

._1L5GE8,.dLcTCD,.GCxQ5L {
    flex: 1
}

.t7JFd6 {
    margin-right: 6px
}

._0X1VMq,.biWlqm,.fC\+q2G,.PE4ali,.QCxphV {
    flex: 1
}

.mbWA75 {
    flex: 3
}

.nHPt8W {
    margin-right: 6px
}

._118jaU,.DgD61P,.FwTdEg,.UKJwJe {
    flex: 1
}

.KIqVW0 {
    margin-right: 6px
}

._9AJcX0,.hPcBiL,.NVe7n6,.O7ZHba,.XmZrKk {
    flex: 1
}

._9KkiEF {
    margin-right: 6px
}

.QG9bzc {
    display: flex;
    justify-content: flex-end
}

._1YkuAW,._4BtD00,.bW9c\+N,.c71-Oe,.ec63HH,.H0qYEs,.KAjmfx,.qhsMYf {
    flex: 1
}

.e8WSPY {
    flex: 2
}

.T2pmaC {
    width: 16px
}

.QG9bzc {
    margin-top: 15px
}

.zWmuOB {
    margin-right: 6px
}

.IhleUS {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.54);
    border-radius: 3px;
    width: 500px
}
